# 2. Python Basics
> _"Everyone can be a programmer."_
>
> -- Chef Gusteau (paraphrased; Ratatouille)

## 2.1 Introduction

> When you were a small child, your parents taught you to count and perform simple calculation with your fingers [..].
> They would ask "what's 3 + 2?" and you would count off the fingers on one hand. They programmed and you computed.
> And in some way, that's really all there is to programming and computing.<sup>1</sup>

Lets now do some simple computations using Python:

In [ ]:
3 + 2

In [ ]:
5 * 3

In [ ]:
6 / 2

In [ ]:
2 - 8

In [1]:
2 ** 7

128

In [7]:
37 % 5

2

In [5]:
abs(-8)

8

Remember the mathematical order of operations; `()` take precedence over * and / take precedence over + and -.

In [ ]:
2 * 8 + 3

In [8]:
41 / (2 - 7)

-8.2

Right now you might be wondering if programming is just about mathematics. Fortunately no, there is much more to programming: text, logic, images, and much much more. Let's play with some text (called _strings_ because they're characters strung together.

In [9]:
"hello world"

'hello world'

In [10]:
"hello" + "world"

'helloworld'

In [12]:
'hello ' + "world"

'hello world'

In [13]:
'hello' + ' ' + "world"

'hello world'

In [11]:
'python' * 5

'pythonpythonpythonpythonpython'

You can do many more things with strings, like extract parts, convert all characters to upper case, strip blanks spaces from each end, count the number of characters in the string, or convert the string to a number:

In [14]:
len('hello world')

11

In [15]:
int('42')

42

---

### 2.1.1 Exercise
What happens if you convert a string that is not a number into a number?

---

Let's now play with another area of programming: logic. There are 2 logical (known as _Boolean_) values:

In [17]:
True

True

In [18]:
False

False

These can be combined in several ways:

In [19]:
# Are True *and* False both True?
True and False

False

In [20]:
# Are either or True or False, True?
True or False

True

In [21]:
not True

False

---

### 2.1.2 Exercise
Can you guess what `not False` will be?

---

Python also provides several ways to compare values:

In [23]:
# Is the string "hello" the same as the string "world"?
"hello" == "world"

In [ ]:
5 < 10

In [ ]:
10 > 5

In [ ]:
1 <= 1

---

### 2.1.3 Exercise
Make the expression in the following code cell evaluate to `True`. What is the `!=` operator doing?

---

In [24]:
"hello" != "hello"

False

## 2.2 Variables
We saw in the previous section that programming consists essentially of values and operations on those values. _Variables_ give you a way to _store the result_ of an operation for later use.
Python provides a special operator which you might think of as the "store a value in a variable" operator. It's called the _assignment_ operator. Here are some examples:

In [25]:
# Assign the string AGAATCGATACGA to a variable and print the variable.  
mySequence = "AGAATCGATACGA"
mySequence

'AGAATCGATACGA'

What happens here is that you assign a **value**: "*AGAATCGATACGA*" to a **variable**: `mySequence`. You can now keep on using `mySequence` throughout your program. Note that `mySequence` is not quoted because it is now part of the program, try this for example:

In [26]:
# Repeat the above, but this time put the variable in quotation marks when you put in the print statement and see what happens
mySequence = "AGAATCGATACGA"
"mySequence"

'mySequence'

You will now still assign the value "*AGAATCGATACGA*" to the variable `mySequence`, but because of the quotes, this cell evaluates to the string "mySequence", not the value "" that is stored in the `mySequence` variable.

## 2.3 Strings from user input
Python provides a very simple way to get user input. This input is always returned as a string, so try the following:

In [27]:
# Use input to ask for a sequence string, then print the input sequence
mySequence = input("Give me a sequence:")
mySequence

Give me a sequence: test

'test'

## 2.4 Operations using variables
You can perform operation using variables in exactly the same way as you did with values in Section 2.1. Python simply replaces the name of the variable with is value then evaluates the expression.

In [ ]:
x = 5
y = 2

In [ ]:
x + 5  # Addition

In [ ]:
x - 8  # Subtraction

In [ ]:
y * x  # Multiplication

In [ ]:
4 / y  # Division

In [ ]:
5 % y  # Modulus, remainder of division

In [ ]:
y ** 3 # Power

## 2.5 Floats

So far we have used _Integers_ (whole numbers) for mathematical operations. Floats, short for _floating point numbers_ are an approximation<sup>2, 3</sup> of (continuous) real numbers. For example, `3.14159` or `2.71828`.

In [ ]:
# Assign float 5.5 to the myFloat variable
x = 5.5 
x

In [ ]:
type(x)

Mathematical operations are the same:

In [ ]:
x + 4.8  # Addition

In [ ]:
5.2 - x  # Subtraction

In [ ]:
2.0 * 5.11212  # Multiplication

In [ ]:
4.2 / 2.7  # Division

In [ ]:
5.4 % 2.0  # Modulus, remainder of division

In [ ]:
4 ** 0.5 # Power

## 2.6 Converting between floats, integers and strings  
You can also force a conversion between the different types: float, integer, and strings with the `str()`, `int()` and `float()` functions. These functions are said to _return_ the values they're converting to. `int()` **returns** an integer, `float()` **returns** a floating point number, and `str()` **returns** a string.

In [ ]:
# Use the int() and float() statements to switch the value types and print out the values. Do you notice any differences?
myFloat = 4.5
myFloat

In [ ]:
int(myFloat) # Note that it will print the result of the operation; myFloat remains an integer!

In [ ]:
myInteger = 5
myInteger

In [ ]:
myOtherFloat = float(myInteger)
myOtherFloat

The same is possible to convert numerical values to strings with `str()`, you can also convert strings to
numerical values but only if the content of the string is an integer or float:

In [ ]:
# Convert a float to a string with the str() function 
myFloat = 4.5
myFloatString = str(myFloat)
str(myFloat)

In [ ]:
float(myFloatString)

In [ ]:
# Convert an integer to a string with the str() function
myInteger = 5
myIntegerString = str(myInteger)
str(myInteger)

In [ ]:
int(myIntegerString)

---

### 2.6.1 Exercises

Write a program where you ask for a number, convert it to an integer, and print out what your number is.

<details>
    <summary>&#9654; Extra exercise 2.6.1-1</summary>
    Write a program that prints fractional part (numbers after the decimal point) of an input number. e.g. input of
    <code>5.5</code> should print <code>0.5</code>
</details>

<details>
    <summary>&#9654; Extra exercise 2.6.1-2</summary>
    Write a program that computes the area of a circle with radius given by the user. Reminder: $$A_{circle} = \pi r^2$$
</details>

---

You can also add, substract, divide and multiple a variable by a number or other variable directly. These are the so-called assignment operators.

In [30]:
myFloat = 6.3
 
myFloat += 5   # Same as myFloat = myFloat + 5
myFloat

11

In [31]:
myFloat -= 5   # Same as myFloat = myFloat - 5
myFloat

6

In [32]:
myFloat /= 2   # Same as myFloat = myFloat / 2
myFloat

3.0

In [33]:
myFloat *= 2   # Same as myFloat = myFloat * 2
myFloat

6.0

Finally, you can check what data type a variable is by using `type()`:

In [34]:
myInteger = -6
type(myInteger)

int

In [35]:
myFloat = 5.22
type(myFloat)

float

In [36]:
myString = "Text!"
type(myString)

str

Note here that you can print multiple values by using a comma in between the values.

---
### 2.6.2 Exercises

See what happens if you try to print a float as an integer, and an integer as a string. 

---

In [37]:
myFloat = 11.4
int(myFloat)

11

In [38]:
myInt = 12
str(myInt)

'12'

In [39]:
myString = "aa"
float(myString)

ValueError: could not convert string to float: 'aa'

---

### 2.6.3 Exercises
Can you compare strings? What does it mean for one string to be _less than_ another string?
What does the following expression evaluate to and why?

---

In [ ]:
"three" > "six"

# 2.8 Nothing

The `None` value which is comparable to `null` you may've encountered in other languages.
In the code below we show that `None`, which you could interpret as nothing, is seperate to a value like `0` or
an empty string.

In [ ]:
myNothing = None
myNothing

In [ ]:
type(myNothing)

In [ ]:
type(None)

In [ ]:
0 == None

In [ ]:
"" == None

## 2.9 Printing
The output you have seen below code cells has been the result of evaluating the _last_ expression in that code cell. The `print()` function gives you another mechanism to display output that is not necessarily the result of evaluating a cell. All arguments you supply to the `print()` function will be printed to the screen.

In [29]:
a = 5
print(a)
6 + 5

5

11

The value of the variable `a` was printed, and `11` was also displayed as the result of evaluating the _last_ expression in the cell.

The `print()` function can accept any number of arguments of any data type. Try below and see what happens.

In [40]:
print("hello", 5, 3.14, True)

hello 5 3.14 True

---

## 2.9 Chapter Review

In this chapter you've learned aboutvariables containing text (strings), numbers, booleans, the `None` keyword,
and some operations that operate on these variables.
* Integer (`int`): A whole number
* Float (`float`): An approximation of a real number
* String (`str`): Text
* Boolean (`bool`): True or False
* None (`NoneType`): Nothing

### Review Questions

1. What datatype is this: `"Hello world"`?
<details>
    <summary>&#9654; Answer</summary>
    A string or <code>str</code>
</details>


2. What operator can you use to combine 2 strings into a single string?
<details>
    <summary>&#9654; Answer</summary>
    The <code>+</code> operator
</details>


3. How many boolean values are there? What do they represent?
<details>
    <summary>&#9654; Answer</summary>
    There are 2 boolean values (<code>True</code> and <code>False</code>). They represent true/false, yes/no, on/off.
</details>


4. How could you convert an integer (e.g. `5`) into a floating point number?
<details>
    <summary>&#9654; Answer</summary>
    <code>float(5)</code>
</details>


5. There are functions for converting to `int()`, `float()` and, `str()`. Is there a function for converting to a boolean value?
<details>
    <summary>&#9654; Answer</summary>
    Yes! <code>bool()</code><br/>
    Play with it below. Which values convert to <code>True</code> and which convert to <code>False</code>?
</details>

6. What does the `print()` function return?
<details>
    <summary>&#9654; Answer</summary>
    <code>None == print("Hello")</code>
    Check this in the cell below.
</details>

In [ ]:
value = print("Hello, world!")

7. What does the code below evaluate to? Why?
<details>
    <summary>&#9654; Answer</summary>
    <code>False</code>. Because floating point numbers are represented in computers as finite approximations to continuous real valued numbers.
</details>

In [ ]:
0.1 + 0.1 + 0.1 == 0.3

## 2.10 Refernces
1. Felleisen, M., Findler, R., Flatt, M., Krishnamurthi, S. (2018) _[How to Design Programs](https://htdp.org/) (2 ed.)_. The MIT Press.
1. https://en.wikipedia.org/wiki/IEEE_754
1. https://en.wikipedia.org/wiki/Floating-point_arithmetic

## 2.10 Next session

Go to our [next chapter](03_Print_formatting.ipynb).