# 2. Variables & operators

> _"Readability counts."_

## 2.1 Introduction

Variables allow you to assign information to a name that you can re-use later on. They facilitate what you really want to do with a computer program, namely manipulate data. 

In this section we will introduce some basic variables and how you can manipulate them.


## 2.2 Strings
We already saw strings in the previous section. You can assign a string to a variable like this:

In [ ]:
# Assign the sequence AGAATCGATACGA to a variable and print the variable.  
mySequence = "AGAATCGATACGA"
print(mySequence)

What happens here is that you assign a **value**: "*AGAATCGATACGA*" to a **variable**: `mySequence` and then print it out. You can now keep on using `mySequence` throughout your program. Note that `mySequence` is not quoted because it is now part of the program, try this for example:

In [ ]:
# Repeat the above, but this time put the variable in quotation marks when you put in the print statement and see what happens
mySequence = "AGAATCGATACGA"
print("mySequence")

You will now still assign the value "*AGAATCGATACGA*" to the variable `mySequence`, but because of the quotes you then print off the string "mySequence", not the variable.

You can assign strings in the following ways:

In [ ]:
myString1 = "Hello world!"
myString2 = 'Hello sun!'
myString3 = """Hello
universe."""
print(myString1)
print(myString2)
print(myString3)

The single and double quotes are essentially the same. If you use triple double quotes - """ - you can assign a string over multiple lines.

In [ ]:
# Try assigning a string over multiple lines without using the triple double quotes and see what happens.
myString = "Hello
universe."

This will give a SyntaxError, as Python 'reads' each line separately, and it doesn't find the ending (on the first line) and starting (on the second line) quote. Using the escape codes, you can however do the following:

In [ ]:
# Try to print two words in two different lines without using three "" marks. 
myString = "Hello\nuniverse."
myString

## 2.3 Strings from user input
Python provides a very simple way to get user input. This input is always returned as a string, so try the following:

In [ ]:
# Use input to ask for a sequence string, then print the input sequence
mySequence = input("Give me a sequence:")
print(mySequence)

## 2.4 Integers
Integers are "whole" numbers. Numbers that can be written without a fractional part like `0`, `1`, `42`. Python will recognize numbers in the code automatically, so you can do:

In [ ]:
# Assign integer 5 to a variable myInteger
myInteger = 5
print(myInteger)

As described in the introduction, you can also do standard mathematical operations on integers. Mathematical operations are even possible within a print statement.

In [ ]:
5 + 5  # Addition

In [ ]:
5 - 8  # Subtraction

In [ ]:
2 * 5  # Multiplication

In [ ]:
4 / 2  # Division

In [ ]:
5 % 2  # Modulus, remainder of division

In [ ]:
2 ** 3 # Power

It doesn't matter if you use variables or _immediate_ numbers (numbers that you type directly into the expression) for this:

In [ ]:
x = 5
y = 2

In [ ]:
x + 5  # Addition

In [ ]:
x - 8  # Subtraction

In [ ]:
y * x  # Multiplication

In [ ]:
4 / y  # Division

In [ ]:
5 % y  # Modulus, remainder of division

In [ ]:
y ** 3 # Power

Note here the mathematical order of operations; `()` take precedence over * and / take precedence over + and -.

## 2.5 Floats

Floats (floating point numbers) are an approximation of (continuous) real numbers. For example, `3.14159` or `2.71828`.

In [ ]:
# Assign float 5.5 to the myFloat variable
myFloat = 5.5 
myFloat

In [ ]:
type(myFloat)

Mathematical operations are the same:

In [ ]:
5.2 + 4.8  # Addition

In [ ]:
5.2 - 8.3  # Subtraction

In [ ]:
2.0 * 5.11212  # Multiplication

In [ ]:
4.2 / 2.7  # Division

In [ ]:
5.4 % 2.0  # Modulus, remainder of division

In [ ]:
4 ** 0.5 # Power

## 2.6 Converting between floats, integers and strings  
You can also force a conversion between the different types: float, integer, and strings with the `str()`, `int()` and `float()` functions. These functions are said to _return_ the values they're converting to. `int()` **returns** an integer, `float()` **returns** a floating point number, and `str()` **returns** a string.

In [ ]:
# Use the int() and float() statements to switch the value types and print out the values. Do you notice any differences?
myFloat = 4.5
myFloat

In [ ]:
int(myFloat) # Note that it will print the result of the operation; myFloat remains an integer!

In [ ]:
myInteger = 5
myInteger

In [ ]:
myOtherFloat = float(myInteger)
myOtherFloat

The same is possible to convert numerical values to strings with `str()`, you can also convert strings to
numerical values but only if the content of the string is an integer or float:

In [ ]:
# Convert a float to a string with the str() function 
myFloat = 4.5
myFloatString = str(myFloat)
str(myFloat)

In [ ]:
float(myFloatString)

In [ ]:
# Convert an integer to a string with the str() function
myInteger = 5
myIntegerString = str(myInteger)
str(myInteger)

In [ ]:
int(myIntegerString)

---

### 2.6.1 Exercises

Write a program where you ask for a number, convert it to an integer, and print out what your number is.

<details>
    <summary>&#9654; Extra exercise 2.6.1-1</summary>
    Write a program that prints fractional part (numbers after the decimal point) of an input number. e.g. input of
    <code>5.5</code> should print <code>0.5</code>
</details>

<details>
    <summary>&#9654; Extra exercise 2.6.1-2</summary>
    Write a program that computes the area of a circle with radius given by the user. Reminder: $$A_{circle} = \pi r^2$$
</details>

---

You can also add, substract, divide and multiple a variable by a number or other variable directly. These are the so-called assignment operators.

In [ ]:
myFloat = 6
myString = "ABC"
 
myFloat += 5   # Same as myFloat = myFloat + 5
print(myFloat)
 
print(myString + "DE") # Concatenate strings with the + operator
 
myFloat -= 5   # Same as myFloat = myFloat - 5
print(myFloat)
 
myFloat /= 2   # Same as myFloat = myFloat / 2
print(myFloat)
 
myFloat *= 2   # Same as myFloat = myFloat * 2
print(myFloat)

Finally, you can check what data type a variable is by using `type()`:

In [ ]:
myInteger = -6
myFloat = 5.22
myString = "Text!"
 
print(myInteger, type(myInteger))
print(myFloat, type(myFloat))
print(myString, type(myString))

Note here that you can print multiple values by using a comma in between the values.

---
### 2.6.2 Exercises

See what happens if you try to print a float as an integer, and an integer as a string. 

---

In [ ]:
myFloat = 11.4
print("My float as integer", int(myFloat))

myInt  = 12
print("My integer as string", str(myInt))

myString = "aa"
print("My string as float", float(myString))

## 2.7 Booleans 
Finally, there are the boolean variables `True` and `False`. 
Python returns booleans when comparing values. In the code below python checks whether the comparison is `True`, when this is the case it will print out the value `True`. In order to do a comparison, we use **comparison operators** like `==, >, <, <=, >=, !=`

In [ ]:
myBoolean = True
myBoolean

In [ ]:
type(myBoolean)

In [ ]:
myInteger = 5
myInteger == 6   # This means 'is myInteger equal to 6?'

In [ ]:
myInteger < 6    # This means 'is myInteger smaller than 6?'

In [ ]:
myInteger > 6    # This means 'is myInteger greater than 6?'

In [ ]:
myInteger <= 6   # This means 'is myInteger smaller or equal to 6?'

In [ ]:
myInteger >= 6   # This means 'is myInteger greater or equal to 6?'

In [ ]:
myInteger != 6   # This means 'is myInteger not equal to 6?'

If you want to combine multiple comparisons, it is possible to use the logical operators `and` and `or`. With the `and` operator both comparisons have to be True for the result to be True. With the `or` operator, only one has to be True for the result to be True.

In [ ]:
x = 5
y = 6

In [ ]:
x == 5 and y > 2    # Both have to be True for the result to be True

In [ ]:
x != 5 or y > 2     # Only one has to be True for the result to be True

Python gives us a shorthand syntax for two comparisons with an `and`. For example, you may want to check if x is within a range e.g. `3 < x and x < 10` to check if the variable x is between 3 and 10. This can be done slightly more simply by:

In [ ]:
x = 5
3 < x < 10

In [ ]:
x = 1
3 < x < 10

**Warning: Pitfall!!**
This shorthand syntax has a potentially surprising consequence that you should be careful for when performing boolean operations:

In [ ]:
x = 5
x < 10 == True

Why is this? Remember the expansion? It is equivalent to the following expression:

In [ ]:
x < 10 and 10 == True

---

### 2.7.1 Exercises
Can you compare strings? What does it mean for one string to be _less than_ another string?
What does the following expression evaluate to and why?

---

In [ ]:
"three" > "six"

# 2.8 Nothing

Finally, we highlight the `None` value which is comparable to `null` you may've encountered in other languages.
In the code below we show that `None`, which you could interpret as nothing, is seperate to a value like `0` or
an empty string.

In [3]:
myNothing = None
myNothing

In [ ]:
type(myNothing)

In [ ]:
type(None)

In [ ]:
0 == None

In [ ]:
"" == None

---

## 2.9 Chapter Review

In this chapter you've learned aboutvariables containing text (strings), numbers, booleans, the `None` keyword,
and some operations that operate on these variables.
* Integer (`int`): A whole number
* Float (`float`): An approximation of a real number
* String (`str`): Text
* Boolean (`bool`): True or False
* None (`NoneType`): Nothing

### Review Questions

1. What datatype is this: `"Hello world"`?
<details>
    <summary>&#9654; Answer</summary>
    A string or <code>str</code>
</details>


2. What operator can you use to combine 2 strings into a single string?
<details>
    <summary>&#9654; Answer</summary>
    The <code>+</code> operator
</details>


3. How many boolean values are there? What do they represent?
<details>
    <summary>&#9654; Answer</summary>
    There are 2 boolean values (<code>True</code> and <code>False</code>). They represent true/false, yes/no, on/off.
</details>


4. How could you convert an integer (e.g. `5`) into a floating point number?
<details>
    <summary>&#9654; Answer</summary>
    <code>float(5)</code>
</details>


5. There are functions for converting to `int()`, `float()` and, `str()`. Is there a function for converting to a boolean value?
<details>
    <summary>&#9654; Answer</summary>
    Yes! <code>bool()</code><br/>
    Play with it below. Which values convert to <code>True</code> and which convert to <code>False</code>?
</details>

6. What does the `print()` function return?
<details>
    <summary>&#9654; Answer</summary>
    <code>None == print("Hello")</code>
    Check this in the cell below.
</details>

In [ ]:
value = print("Hello, world!")

7. What does the code below evaluate to? Why?
<details>
    <summary>&#9654; Answer</summary>
    <code>False</code>. Because floating point numbers are represented in computers as finite approximations to continuous real valued numbers.
</details>

In [ ]:
0.1 + 0.1 + 0.1 == 0.3

## 2.10 Next session

Go to our [next chapter](3_Print_formatting.ipynb).